html,body,canvas {
	margin: 0;
	padding: 0;
	cursor: none;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #111;
	color: #eee;
	font-family: Segoe UI;
	font-size: 1.5em;
	width: 100%;
}

canvas {
	width: 100%;
}
