html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 0 5% 0;
	padding: 0;
	background: none;
	font-size: 1em;
	text-decoration: none;
}

canvas {
	border: 1px solid black;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.left {
	float: left;
}

.right {
	float: left;
}

.sidebar {
	height: 100%;
	width: 25%;
	text-align: center;
	border-left: 1px solid black;
}

.buttonControl {
	height: 10%;
	width: 100%;
}

.playerInfo {
	height: 85%;
	width: 100%;
}

.player {
	width: 100%;
}

.players {
	width: 100%;
	height: 100%;
}

.scoreBoxContainer {
	width: 90%;
	height: 20px;
	margin: auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.scoreBox {
	box-sizing: border-box;
	width: 10%;
	height: 20px;
	float: left;
	border: 1px solid white;
}

.gamefield {
	height: 100%;
	width: 74%;
}