html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: contain;
}

* {
    position: relative;
}

canvas {
    display: block;
    margin: 0;
    padding: 0;
}

