html {
    background-color: #333;
    color: #bbb;
    font-family: Verdana, "DejaVu Sans";
}

body {
    margin: auto;
    width: 514px;
}

canvas {
    border: 2px solid #444;
}

h1 {
    color: white;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

a {
    color: #4f6c19;
}
a:hover {
    color: #8fc32e;
}

span {
    background-color: #444;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: bold;
    color: white;
}