html, body {
    background: "black";
    overflow: hidden;
    margin: 0px;
    height: 100%;
}
 
#container
{
  display: flex;
  align-items: center;
  height: 100%;
}

#svg {
    background: linear-gradient(to bottom,  #010212 0%, #020421 100%);
}