html {
    background-color: black;
    color: greenyellow;
    font-family: 'Andale Mono', AndaleMono, 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0 0 0.25em white;
}

html, body {
    margin: 0;
}

body {
    text-align: center;
}

a {
    color: white;
}