* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.content {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #ffb;
    border: 10px dashed #aa4;
}

.center{
    text-align: center;
}

.right{
    float: right;
}

.column-right{
    position: absolute;
    right: 150px;
    top: 50px;
}
#timer{
    color: blue;
}

#easter{
    font-size: 10px;
    text-align: center;
}