@media (prefers-color-scheme: dark) {
    html {
        background: black;
        color: #aaa;
    }
}


html {
    text-align: center;
}

.pipe {
    width: 1000px;
    max-width: 95%;
}

canvas {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid black;
}
