body
{
	background: rgba(130, 75, 82, 0.5);
}

canvas
{
	display: block;
	width:100%;
	height: auto;
	margin: 0px auto 0px;
}

#map
{
    background: rgba(146, 107, 118, 0.5);
	margin: 30px auto 0px;
	margin-top: 30px;
	margin-bottom: 29px;
}