@font-face {
    font-family: 'Play';
    src: url('./play.woff2') format('woff2');
  }
  html {
    font-family: 'Play';
    max-width: 320px;
    max-height: 620px;
    margin: auto;
  }
  #logo {
    text-align: center;
    padding: 2rem;
    font-size: 6rem;
    transform: scale(-1, 1);
  }
  #score {
    display: none;
    transform: scale(-1, 1);
  }
  #menu {
    flex-direction: column;
    transform: scale(-1, 1);
  }
  .menu-item {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem 0;
    text-transform: uppercase;
  }
  .menu-item:hover {
    background-color: antiquewhite;
  }
  #game-pad {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }
  