.margin_zero {
  margin: 0;
}

.fill {
  padding: 0;
  height: 100%;
  width: 100%;
}

.image {
  image-rendering: pixelated;
  padding: 0;
}

.next {
  background-color: transparent;
  border-width: 0;
}

.title-image {
  position: absolute;
  height: 50%;
  width: 50%;
}

.title-next {
  align-content: center;
  color: orange;
  position: relative;
  text-align: -webkit-center;
}

.title-text {
  font-size: 15vh;
  margin: 0;
  transform: skewX(-30deg);
  width: fit-content;
}

.selection-icon {
  border: 1px solid;
  padding: 0;
  height: 33%;
  width: 33%;
}

.selection-name {
  color: black;
  font-size: 5vh;
}

.selection-image {
  height: 75%;
  width: 75%;
}

.fighting-header {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  height: 6%
}

.fighting-bar {
  display: flex;
  height: 100%;
}

.fighting-timer {
  align-content: center;
  color: orange;
  margin: 0;
  top: 8px;
  text-align: center;
  width: 10%
}

.fighting-p1 {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 40%
}

.fighting-p2 {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 40%
}

.result-icon {
  border: 0;
}

.result-name {
  color: orange;
  font-size: 10vh;
}

.result-image {
  height: 85%;
  width: 100%;
}
