/* Basic visual styling for the game's display page */

body {
	background-color: #000;
}

canvas {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	margin-top: -225px; 
	margin-left: -400px; 
	border: solid 2px #CCC;
}