body{
  background-color:#222;
}
#m{
  position:relative;
  border:2px solid #06276F;
  background-color:#2A4580;
  margin-left:auto;
  margin-right:auto;
  width:610px;
  height:610px;
  overflow:hidden;
}
#c{
  z-index:10;
}
#s{
  position:absolute;
  z-index:15;
  right:8px;
  top:8px;
  color: #4573D5;
  font: bold 150% Impact, Helvetica, sans-serif;
  text-shadow: 0 1px 1px #06276F, 0 -1px 1px #06276F;
}
#u{
  position:absolute;
  left:50%;
  z-index:15;
  bottom:100px;
  color: #FFA900;
  font: bold 200% Verdana, Helvetica, sans-serif;
  text-shadow: 0 2px 5px #06276F;
  opacity: 0;
}
#u div{
  position:relative;
  left:-50%;
  cursor:pointer;
  text-align:center;
}
#u div:hover {
  color: #FFCF73;
  text-shadow: 0 3px 5px #06276F;
}
#i{
  position:absolute;
  width:500px;
  left:50%;
  z-index:15;
  bottom:120px;
  color: #4573D5;
  text-shadow: 0 1px 1px #06276F, 0 -1px 1px #06276F;
  font: bold 90% Verdana, Helvetica, sans-serif;
}
#i p{
  position:relative;
  left:-50%;
  text-align:center;
  opacity:0;
}
#i p b{
  color: #FFCF73;
}
.center{
  position:absolute;
  left:50%;
  top:50%;
  z-index:15;
  color: #06276F;
  font: bold 250% Verdana, Helvetica, sans-serif;
  text-shadow: 0 2px 1px #4573D5, 0 -2px 1px #4573D5;
  font-variant: small-caps;
}
.center div{
  display:none;
  position:relative;
  top:-50px;
  left:-50%;
}
#mob {
  display:none;
}
.touch #mob {
  display:block;
}
.touch #dk, .touch #start {
  display:none;
}
.touch #i{
  bottom:10px;
}
#doub, #shield {
  position:relative;
  width:40px;
  height:40px;
  overflow:hidden;
  top: -10px;
  right: 40px;
}
#doub canvas, #shield canvas {
  position:absolute;
  display: inline;
  margin-left: -20px;
  margin-top: -20px;
}
a,a:visited {
  text-decoration:none;
  color:#6C8DD5;
}
a:hover {
  color:#FFCF73;
}
