

html, body{
    background-color: gray;
    overflow: hidden;
    height:100%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

img {
    display: none;
}