@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'), local('PressStart2P-Regular'), url('../3rd-party/assets/PressStart2P/PressStart2P-Regular.woff2') format('woff2');
}
