#botao1, #botao2, #botao3, #botao4, #botao5 {
    position: relative;
    display: block;
    align-items: center;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 9px;
    margin-bottom: 5px;
    top: 10px;
    left: 10px;
    background:yellow;
    cursor: pointer;
}

#botao1:hover, #botao2:hover, #botao3:hover, #botao4:hover, #botao5:hover {
    transform: scale(1.1);
}