html, body {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
#ludo {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #000030;
    cursor: crosshair;
}
