* {margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body {width:100%;background:#000;overflow: hidden;}
.arcadeText {position:absolute;z-index:10;font-family:courier, sans-serif;color:white;font-size:24px;top:16px;font-weight:bold;}
#msg-text {background-color:#42362A;text-align:center;font-size:22px;}
.lnk-txt {display:block;cursor:pointer;}
.lnk-txt:hover {color:#0000ff;}
#jail {right:32px;}
#ship {right:162px;}
#container {height:272px; width:384px;position:relative;margin:50px auto;margin-bottom:0;}
#container div {position:absolute;}
#game {background-color:#E4B34D;height:272px; width:384px;overflow:hidden;}
#knight_sprite {position:absolute;overflow:hidden;}
.mapsprite {position:absolute;overflow:hidden;}
.stripe{overflow:hidden;width:100%;height:2%;position:absolute;}