/*
http://ethanschoonover.com/solarized

base03:    #002b36;
base02:    #073642;
base01:    #586e75;
base00:    #657b83;
base0:     #839496;
base1:     #93a1a1;
base2:     #eee8d5;
base3:     #fdf6e3;
yellow:    #b58900;
orange:    #cb4b16;
red:       #dc322f;
magenta:   #d33682;
violet:    #6c71c4;
blue:      #268bd2;
cyan:      #2aa198;
green:     #859900;
*/

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: default;
  -webkit-user-select: none;
}
*::selection {
  background: transparent;
  color: transparent;
}
body {
  position: relative;
  width: 20em;
  height: 100%;
  margin: 1em auto;
  background: #fdf6e3;
  color: #586e75;
}
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 33%;
  font-size: 2em;
}
h2 {
  font-size: 1.25em;
  line-height: 1.2;
  margin: 1.65em 0 0.75em 0;
}
p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
#player1, #player2 {
  position: absolute;
  top: 0;
  width: 33%;
  text-align: center;
}
#player1 {
  left: 0;
}
#player2 {
  right: 0;
}
table {
  margin: 1em auto;
  border-spacing: 1;
  border: 0.0625em solid #586e75;
  border-radius: 0.5em;
  padding: 0.25em;
  background: #93a1a1;
}
td {
  text-align: center;
  width: 4em;
  height: 4em;
  line-height: 4em;
  border: 0.0625em solid #586e75;
  border-radius: 0.25em;
  background: #eee8d5;
  box-shadow: inset 0 0 0.25em 0 rgba(101,123,131,1);
}
#player1pieces, #player2pieces {
  display: block;
  height: 3em;
  margin: 1em auto;
  text-align: center;
  list-style: none;
  padding-left: 1em;
}
#player1pieces .piece, #player2pieces .piece {
  margin-left: -1em;
}
.piece {
  position: relative;
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  font-weight: bold;
  color: transparent;
  border: 0.25em dotted #eee8d5;
  border-radius: 2.5em;
  box-shadow: inset 0 0 0.0625em 0.0625em rgba(88,110,117,1), 0 0 0.125em 0.0625em rgba(131,148,150,1), inset 0 2.5em 0.0625em rgba(253,246,227,1);
}
.piece:hover {
  z-index: 1;
}
abbr[title="and"] {
  font-family: fantasy;
  font-size: 1em;
  line-height: 1em;
}
a, a:visited {
  color: #d33682;
  text-decoration: none;
}
a:hover {
  cursor: auto;
}
em {
  font-style: italic;
}
#credits {
  text-align: right;
  font-size: 0.75em;
}
.piece {
  margin: 0 auto;
}
.green {
  background: #859900;
}
.magenta {
  background: #d33682;
}
.cyan {
  background: #2aa198;
}
.orange {
  background: #cb4b16;
}
.yellow {
  background: #b58900;
}
.dragging {
  z-index: 1;
}
.dropping {
  background: #eee8d5;
  box-shadow: 0 0 0.25em 0.125em rgba(42,161,152,1);
}
.moving {
  -webkit-transition: top 2s, left 2s;
  -o-transition: top 2s, left 2s;
  z-index: 1;
}
.playing {
  color: #586e75;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.human-icon span, .computer-icon span {
  display: block;
  margin: 0 auto;
}
#info {
  display: inline-block;
  float: left;
  height: 1em;
  width: 1em;
  line-height: 1em;
  text-align: center;
  font-style: italic;
  border: 0.125em solid #586e75;
  border-radius: 2em;
}
#info:hover {
  border-color: #d33682;
}
#notes {
  clear: both;
}
.score {
  display: block;
  margin: 0 auto;
  font-size: 1.25em;
}
.human-icon, .computer-icon {
  display: inline-block;
  width: 2em;
  padding: 0.5em 0;
}
.human-icon span:first-child {
  display: block;
  margin: 0 auto;
  height: 0.725em;
  width: 0.6em;
  border: 0.0625em solid #586e75;
  border-radius: 0.5em;
}
.human-icon span:last-child {
  display: block;
  margin: 0 auto;
  height: 1em;
  width: 0.75em;
  border: 0.0625em solid #586e75;
  border-radius: 0.5em 0.5em 0 0;
}
.computer-icon span:first-child {
  height: 1em;
  width: 1.5em;
  border-radius: 0.125em;
  border: 0.125em solid transparent;
  box-shadow: 0 0 0 0.0625em rgba(88,110,117,1), inset 0 0 0 0.0625em rgba(88,110,117,1), inset 0 1em 0 0.0625em rgba(238,232,213,1);
}
.computer-icon span:last-child {
  height: 0.6em;
  width: 1.5em;
  border: 0.0625em solid #586e75;
  border-radius: 0.125em 0.125em 0 0;
}
