body {
    background: white;
    font-family: Times New Roman, serif;
    font-size: 16px;
}

canvas {
    display: block;
    position: absolute;
}

#c2 {
    display: none;
}

.links {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #630;
}