body {
	background-color: #111111;
	color: #FFFFFF;
	font-family: "Lucida Console";
	text-align: center;
}
.canvasContainer {
	width: 800px;
	height: 500px;
	margin: auto;
}
canvas {
	border: 1px solid #FFFFFF;
	display: block;
}