body {
    margin: 0;
    background: #000;
}

canvas {
    display: block;
    position: absolute;
    z-index: 0;
}

.level {
    padding: 0; margin: 0 0 0 160px;
}

textarea {
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}
